
*{
    margin: 0;
    box-sizing: border-box;
}

.div1{
    width: 100%;
    height: 65px;
    box-shadow: -1px -3px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -3px 5px 0px rgba(0,0,0,0.75);
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.div2{
    width: 100%;
    height: 65px;
    
    box-shadow: -1px 5px 4px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
    
    
    display: flex;
    align-items: center;
    justify-content: start;
}

.div3{
    width: 49%;
    margin-left: 25%;
    margin-top: 8px;
    
}

.btnL{
    background-color: rgb(180, 40, 40);
    width: 30px;
    
}

.btnR{
    background-color: rgb(180, 40, 40);
    width: 30px;
    
}

.fa{
    text-decoration: none;
    color: aliceblue;
}

.sa{
    text-decoration: none;
    color: aliceblue;
}

.al1{
    height: 60px;
    margin-bottom: -70px;
}